Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  904741c2c41d4468a6028b2b674e7a00d62ce18c
Due: none

Notes added by 'git notes add'
  953b5108fad11f2fec2e0fb028990d349807f396
Due: none

feat(discovery): implement Phase B - validation tool and error prompts
  src/prompts/error-resolution.ts
  src/prompts/index.ts
  src/server.ts
  src/tools/discovery/index-loader.ts
  src/tools/discovery/index.ts
  src/tools/discovery/search.ts
  src/tools/discovery/types.ts
  src/tools/discovery/validate.ts
  tests/unit/discovery.test.ts
  tests/unit/server.test.ts
Due: eslint, prettier, typecheck

chore(specs): sync OpenAPI specs to v1.0.79
  specs/domains/admin_console_and_ui.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/generative_ai.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
  specs/index.json
  src/tools/generated/dependency-graph.json
Due: prettier

chore(deps): fix high severity vulnerability in qs package
  package-lock.json
Due: prettier

Notes added by 'git notes add'
  45ebc1566418e82161e752805205e3deaca4ee2e
Due: none

feat(discovery): add dependency resolver tool (Phase C1)
  src/server.ts
  src/tools/discovery/index.ts
  src/tools/discovery/resolver.ts
Due: eslint, prettier, typecheck

feat(discovery): add cost estimation tool (Phase C2)
  src/server.ts
  src/tools/discovery/cost-estimator.ts
  src/tools/discovery/index.ts
Due: eslint, prettier, typecheck

feat(discovery): add best practices generation system (Phase C3)
  src/server.ts
  src/tools/discovery/best-practices.ts
  src/tools/discovery/index.ts
Due: eslint, prettier, typecheck

chore: sync OpenAPI specs v1.0.79 → v1.0.81
  specs/domains/admin_console_and_ui.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/generative_ai.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
  specs/index.json
  src/tools/generated/dependency-graph.json
Due: prettier

Notes added by 'git notes add'
  b9fdadb17687d750b208b8e415bd7430b428696d
Due: none

feat: implement upstream-based versioning system
  .github/workflows/release.yml
  package.json
  scripts/version.js
Due: eslint, prettier

chore: sync OpenAPI specs v1.0.81 → v1.0.82
  specs/domains/admin_console_and_ui.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/generative_ai.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
  specs/index.json
  src/tools/generated/dependency-graph.json
Due: prettier

fix: add --tag latest to npm publish for timestamp versions
  .github/workflows/release.yml
Due: prettier

fix: add --tag latest to npm publish for timestamp versions (#87)
  .github/workflows/release.yml
Due: prettier

refactor: XDG-compliant profile management with f5xc-xcsh cross-compatibility
  scripts/test-features.mjs
  src/auth/credential-manager.ts
  src/auth/http-client.ts
  src/auth/index.ts
  src/config/config-manager.ts
  src/config/index.ts
  src/config/paths.ts
  src/config/schema.ts
  src/config/types.ts
  src/index.ts
  src/profile/index.ts
  src/profile/manager.ts
  src/profile/types.ts
  src/server.ts
  tests/contract/mcp-protocol.test.ts
  tests/integration/edge-cases.test.ts
  tests/integration/http-client.test.ts
  tests/integration/migration.test.ts
  tests/integration/profile-auth.test.ts
  tests/unit/config-manager.test.ts
  tests/unit/credential-manager.test.ts
  tests/unit/http-client.test.ts
  tests/unit/server.test.ts
  tests/utils/ci-environment.ts
Due: eslint, prettier, typecheck

fix: add SSL certificate validation bypass for staging environments
  README.md
  src/auth/credential-manager.ts
  src/auth/http-client.ts
  src/profile/types.ts
  src/utils/error-handling.ts
  tests/unit/error-handling.test.ts
  tests/unit/http-client.test.ts
Due: eslint, prettier, typecheck

docs: enhance SSL security documentation and warning visibility
  README.md
  src/auth/http-client.ts
Due: eslint, prettier, typecheck

fix: disable no-undef ESLint rule for TypeScript files
  eslint.config.js
  src/auth/credential-manager.ts
  src/utils/error-handling.ts
Due: eslint, prettier, typecheck

fix: correct URL normalization and API path handling
  src/auth/credential-manager.ts
  src/tools/discovery/execute.ts
  tests/unit/credential-manager.test.ts
Due: eslint, prettier, typecheck

fix: correct URL normalization and API path handling (#95)
  src/auth/credential-manager.ts
  src/tools/discovery/execute.ts
  tests/unit/credential-manager.test.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
