Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

feat: add HTTP/SSE transport support for vLLM integration
  README.md
  package-lock.json
  package.json
  src/http-server.ts
  src/index.ts
  src/server.ts
Due: eslint, prettier, typecheck

fix: use SSEServerTransport for vLLM compatibility
  README.md
  src/http-server.ts
  src/server.ts
Due: eslint, prettier, typecheck

fix: use SSEServerTransport for vLLM compatibility (#107)
  README.md
  src/http-server.ts
  src/server.ts
Due: eslint, prettier, typecheck

refactor: remove HTTP/SSE transport, keep only STDIO
  README.md
  package-lock.json
  package.json
  src/http-server.ts
  src/index.ts
  src/server.ts
Due: eslint, prettier, typecheck

refactor: remove HTTP/SSE transport, keep only STDIO (#108)
  README.md
  package-lock.json
  package.json
  src/http-server.ts
  src/index.ts
  src/server.ts
Due: eslint, prettier, typecheck

fix(ci): auto-merge openapi-sync PRs and prevent accumulation
  .github/workflows/openapi-sync.yml
Due: prettier

fix(ci): auto-merge openapi-sync PRs and prevent accumulation (#109)
  .github/workflows/openapi-sync.yml
Due: prettier

fix: restore pymdownx emoji and superfences configurations
  mkdocs.yml
Due: prettier

fix: remove broken terraform.md links from getting-started docs
  docs/getting-started/cursor.md
  docs/getting-started/vscode.md
Due: prettier

test: add UAT documentation validation test suite
  .serena/memories/project_overview.md
  CHANGELOG.md
  docs/getting-started/cursor.md
  docs/getting-started/vscode.md
  manifest.json
  package.json
  scripts/category-mapping.ts
  scripts/generate-docs.ts
  tests/uat/documentation/cli-help.test.ts
  tests/uat/documentation/curl-examples.test.ts
  tests/uat/documentation/env-variables.test.ts
  tests/uat/documentation/example-resources.test.ts
  tests/uat/documentation/installation-syntax.test.ts
  tests/uat/documentation/manifest-prompts.test.ts
  tests/uat/documentation/tool-descriptions.test.ts
  tests/uat/utils/documentation-helpers.ts
Due: eslint, prettier, typecheck

refactor(tests): UAT tests now exercise real code paths
  tests/uat/documentation/curl-examples.test.ts
  tests/uat/documentation/example-resources.test.ts
Due: eslint, prettier, typecheck

docs: fix documentation accuracy and consistency
  MIGRATION.md
  README.md
Due: prettier

refactor(tests): UAT tests now exercise real code paths (#114)
  tests/uat/documentation/curl-examples.test.ts
  tests/uat/documentation/example-resources.test.ts
Due: eslint, prettier, typecheck

docs: fix documentation accuracy and consistency (#115)
  MIGRATION.md
  README.md
Due: prettier

feat: implement build-time version generation for consistency
  .gitignore
  package.json
  scripts/generate-version.ts
  scripts/version.js
  src/index.ts
  tests/unit/version.test.ts
Due: eslint, prettier, typecheck

feat: implement build-time version generation for consistency (#116)
  .gitignore
  package.json
  scripts/generate-version.ts
  scripts/version.js
  src/index.ts
  tests/unit/version.test.ts
Due: eslint, prettier, typecheck

fix: copy scripts directory in Dockerfile for version generation
  Dockerfile
Due: none

fix: copy scripts directory in Dockerfile for version generation (#117)
  Dockerfile
Due: none

fix: update .dockerignore to include scripts for version generation
  .dockerignore
Due: none

fix: update .dockerignore to include scripts for version generation (#118)
  .dockerignore
Due: none

fix: include specs directory in npm package
  package-lock.json
  package.json
  tests/uat/chat-queries/authentication.test.ts
  tests/uat/chat-queries/creation.test.ts
  tests/uat/chat-queries/discovery.test.ts
  tests/uat/chat-queries/guidance.test.ts
  tests/uat/chat-queries/inspection.test.ts
  tests/uat/chat-queries/modification.test.ts
  tests/uat/chat-queries/planning.test.ts
  tests/uat/chat-queries/utils/query-helpers.ts
  tests/uat/chat-queries/validation.test.ts
Due: eslint, prettier, typecheck

fix: include specs directory in npm package (#120)
  package-lock.json
  package.json
  tests/uat/chat-queries/authentication.test.ts
  tests/uat/chat-queries/creation.test.ts
  tests/uat/chat-queries/discovery.test.ts
  tests/uat/chat-queries/guidance.test.ts
  tests/uat/chat-queries/inspection.test.ts
  tests/uat/chat-queries/modification.test.ts
  tests/uat/chat-queries/planning.test.ts
  tests/uat/chat-queries/utils/query-helpers.ts
  tests/uat/chat-queries/validation.test.ts
Due: eslint, prettier, typecheck

fix: regenerate test fixtures for v2.0.1 specs
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat: v2.0.2 clean break release - remove legacy code and update docs
  .github/workflows/docs.yml
  docs/configuration/environment-variables.md
  docs/configuration/mcp-json.md
  docs/getting-started/claude-desktop.md
  docs/quickstart.md
  docs/tools/index.md
  docs/troubleshooting/faq.md
  manifest.json
  mkdocs.yml
  package.json
  requirements.txt
  scripts/generate-docs.ts
  src/generator/dependency-extractor.ts
  src/generator/naming/acronyms.ts
  src/generator/naming/index.ts
  src/generator/naming/volterra-mapping.ts
  src/generator/openapi-parser.ts
  tests/unit/acronyms.test.ts
  tests/unit/openapi-parser.test.ts
  tests/unit/volterra-mapping.test.ts
Due: eslint, prettier, typecheck

fix: pymdownx.emoji Python 3.12 compatibility
  .github/workflows/docs.yml
  mkdocs.yml
Due: prettier

feat: integrate v2.0.5 discovery metadata and CLI enhancements
  src/generator/domain-metadata.ts
  src/generator/openapi-parser.ts
  src/tools/discovery/best-practices.ts
  src/tools/discovery/index-loader.ts
  src/tools/discovery/types.ts
  tests/unit/discovery.test.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
