Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for f5xc-api-mcp
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  # Secrets detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.3
    hooks:
      - id: trufflehog
        entry: trufflehog filesystem --fail --no-update
        args: ["--only-verified"]

  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: generate-tools
        name: Generate Tools from OpenAPI Specs
        entry: bash -c 'npm run generate && git add src/tools/generated/'
        language: system
        always_run: true
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: false

      - id: typecheck
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.ts$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: ^node_modules/

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yml"]
        exclude: ^node_modules/

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore: sync .gitignore
  .gitignore
Due: none

chore: sync .gitignore (#370)
  .gitignore
Due: none

chore: sync .gitignore (#372)
  .gitignore
Due: none

chore: sync .gitignore (#374)
  .gitignore
Due: none

chore: sync .gitignore (#376)
  .gitignore
Due: none

chore: sync .github/workflows/require-linked-issue.yml
  .github/workflows/require-linked-issue.yml
Due: prettier

chore: sync .github/workflows/require-linked-issue.yml (#378)
  .github/workflows/require-linked-issue.yml
Due: prettier

chore: sync .github/workflows/require-linked-issue.yml (#381)
  .github/workflows/require-linked-issue.yml
Due: prettier

fix: use REPO_ADMIN_TOKEN in openapi-sync workflow
  .github/workflows/openapi-sync.yml
Due: prettier

fix: use REPO_ADMIN_TOKEN in update-f5xc-auth workflow
  .github/workflows/update-f5xc-auth.yml
Due: prettier

fix: use REPO_ADMIN_TOKEN in automated PR workflows (#383)
  .github/workflows/openapi-sync.yml
  .github/workflows/update-f5xc-auth.yml
Due: prettier

chore: sync .gitignore (#385)
  .gitignore
Due: none

chore: sync .gitignore (#387)
  .gitignore
Due: none

chore: sync .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.md
Due: prettier

chore: sync CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

chore: sync managed files from governance template (#391)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier

feat(specs): update to v2.1.1
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.1 (#392)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

chore: sync .gitignore (#394)
  .gitignore
Due: none

chore: sync .github/dependabot.yml
  .github/dependabot.yml
Due: prettier

chore: sync .github/dependabot.yml (#397)
  .github/dependabot.yml
Due: prettier

docs: reorganize documentation structure and improve navigation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/advanced.mdx
  docs/authentication.mdx
  docs/environment-variables.mdx
  docs/ide-setup.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/mcp-json.mdx
  docs/troubleshooting.mdx
Due: prettier

docs: reorganize documentation structure and improve navigation (#401)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/advanced.mdx
  docs/authentication.mdx
  docs/environment-variables.mdx
  docs/ide-setup.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/mcp-json.mdx
  docs/troubleshooting.mdx
Due: prettier
