Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

chore: sync OpenAPI specs and fix documentation formatting
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .serena/project.yml
  CHANGELOG.md
  README.md
  docs/getting-started/cursor.md
  docs/getting-started/vscode.md
  docs/index.md
  docs/integrations/terraform.md
  docs/tools/app-firewall.md
  docs/tools/dns-zone.md
  docs/tools/http-loadbalancer.md
  docs/troubleshooting/faq.md
Due: prettier

docs: comprehensive documentation review and improvements
  .markdownlint.json
  .pre-commit-config.yaml
  README.md
  docs/configuration/environment-variables.md
  docs/getting-started/claude-desktop.md
  docs/getting-started/cursor.md
  docs/getting-started/vscode.md
  docs/index.md
  docs/quickstart.md
  docs/tools/aws-vpc-site.md
  docs/tools/azure-vnet-site.md
  docs/tools/certificate.md
  docs/tools/cloud-credentials.md
  docs/tools/dns-zone.md
  docs/tools/gcp-vpc-site.md
  docs/tools/http-loadbalancer.md
  docs/tools/index.md
  docs/tools/namespace.md
  docs/tools/network-connector.md
  docs/tools/rate-limiter.md
  docs/tools/service-policy.md
  docs/troubleshooting/faq.md
  mkdocs.yml
Due: prettier

fix(docs): standardize naming convention to use example- prefix
  docs/getting-started/claude-code.md
  docs/integrations/f5xcctl.md
  docs/integrations/terraform.md
  docs/quickstart.md
  docs/tools/app-firewall.md
  docs/tools/aws-vpc-site.md
  docs/tools/azure-vnet-site.md
  docs/tools/gcp-vpc-site.md
  docs/tools/http-loadbalancer.md
  docs/tools/index.md
  docs/tools/origin-pool.md
  docs/tools/rate-limiter.md
Due: prettier

fix(docs): standardize naming convention to use example- prefix (#15)
  docs/getting-started/claude-code.md
  docs/integrations/f5xcctl.md
  docs/integrations/terraform.md
  docs/quickstart.md
  docs/tools/app-firewall.md
  docs/tools/aws-vpc-site.md
  docs/tools/azure-vnet-site.md
  docs/tools/gcp-vpc-site.md
  docs/tools/http-loadbalancer.md
  docs/tools/index.md
  docs/tools/origin-pool.md
  docs/tools/rate-limiter.md
Due: prettier

docs: add comprehensive resource documentation for all domains
  docs/tools/api-discovery.md
  docs/tools/bot-defense.md
  docs/tools/customer-edge.md
  docs/tools/dns-lb-pool.md
  docs/tools/dns-loadbalancer.md
  docs/tools/enhanced-firewall-policy.md
  docs/tools/health-check.md
  docs/tools/k8s-cluster.md
  docs/tools/malicious-user-detection.md
  docs/tools/network-firewall.md
  docs/tools/secret.md
  docs/tools/virtual-k8s.md
  docs/tools/workload.md
  mkdocs.yml
Due: prettier

fix(ci): add issues permission and NPM_TOKEN for release workflow
  .github/workflows/release.yml
Due: prettier

fix(ci): add NODE_AUTH_TOKEN for npm authentication
  .github/workflows/release.yml
Due: prettier

Notes added by 'git notes add'
  183cab842efb31845c43784106d4b2183d58332f
Due: none

docs: add TCP Load Balancer and API Definition documentation
  docs/tools/api-definition.md
  docs/tools/tcp-loadbalancer.md
  mkdocs.yml
Due: prettier

docs: add TCP Load Balancer and API Definition documentation (#25)
  docs/tools/api-definition.md
  docs/tools/tcp-loadbalancer.md
  mkdocs.yml
Due: prettier

fix: resolve CI and Security workflow issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier

fix: resolve CI and Security workflow issues (#26)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier

Notes added by 'git notes add'
  aa310a6d05afa22d3599a5323e7863c5fd9f3ade
Due: none

fix: update npm in Docker image to fix vulnerabilities
  Dockerfile
Due: none

fix: update npm in Docker image to fix vulnerabilities (#27)
  Dockerfile
Due: none

Notes added by 'git notes add'
  1cf0bac65f0f0c509401d5b8e4f7026b640b7d14
Due: none

fix: add security-events permission for SARIF upload
  .github/workflows/release.yml
Due: prettier

fix: add security-events permission for SARIF upload (#28)
  .github/workflows/release.yml
Due: prettier

Notes added by 'git notes add'
  8ed9c5368986fb68da20dc925628e27adb6aa909
Due: none

feat: add MCPB v0.3 bundle compliance for Claude Desktop
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .mcpbignore
  docs/getting-started/installation.md
  manifest.json
  package.json
Due: prettier

fix: correct @anthropic-ai/mcpb version to ^2.1.0
  package.json
Due: prettier

fix: update package-lock.json for @anthropic-ai/mcpb dependency
  package-lock.json
Due: prettier

fix: correct MCPB validate command and remove missing icon
  .github/workflows/ci.yml
  manifest.json
Due: prettier

feat: add MCPB v0.3 bundle compliance for Claude Desktop (#30)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .mcpbignore
  docs/getting-started/installation.md
  manifest.json
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  d206b8450317207d6ef166351db96627938fab9a
Due: none

chore: upgrade all GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/openapi-sync.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

chore: upgrade all GitHub Actions to latest versions (#31)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/openapi-sync.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

chore: upgrade remaining dependencies and migrate to zod v4
  .pre-commit-config.yaml
  Dockerfile
  package-lock.json
  package.json
  src/generator/openapi-parser.ts
  src/generator/tool-generator.ts
  src/server.ts
Due: eslint, prettier, typecheck

style: fix prettier formatting
  src/generator/tool-generator.ts
  src/server.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  274f54ee512f35554aca925cd5c4c78dbdf126dc
Due: none

fix: update docs workflow to use requirements.txt
  .github/workflows/docs.yml
Due: prettier

Notes added by 'git notes add'
  9d56702e0a326eb4731b0897bbe7ce4c0c72185b
Due: none

Notes added by 'git notes add'
  889a1f8dee7e1aa62f7a1611cf66963124a668e2
Due: none

fix: move @types/node to production dependencies
  package.json
Due: prettier

Notes added by 'git notes add'
  34d9f598581decf947b68f5c203e0406e66d66e4
Due: none

fix: use correct mcpb pack positional arguments
  .github/workflows/release.yml
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
