Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

chore: sync CLAUDE.md (#432)
  CLAUDE.md
Due: prettier

chore: sync CLAUDE.md
  CLAUDE.md
Due: prettier

chore: sync CLAUDE.md (#434)
  CLAUDE.md
Due: prettier

feat(specs): update to v2.1.13
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.13 (#435)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

chore: sync CLAUDE.md (#437)
  CLAUDE.md
Due: prettier

chore: sync CLAUDE.md (#439)
  CLAUDE.md
Due: prettier

chore: sync .gitignore
  .gitignore
Due: none

chore: sync .gitignore (#441)
  .gitignore
Due: none

chore: sync CLAUDE.md (#443)
  CLAUDE.md
Due: prettier

chore: sync .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: prettier

chore: sync .pre-commit-config.yaml (#445)
  .pre-commit-config.yaml
Due: prettier

feat: add scripts/pre-commit-local.sh for repo-specific hooks
  scripts/pre-commit-local.sh
Due: none

feat: add scripts/pre-commit-local.sh for repo-specific hooks (#447)
  scripts/pre-commit-local.sh
Due: none

chore: sync CLAUDE.md (#449)
  CLAUDE.md
Due: prettier

chore: sync .pre-commit-config.yaml (#452)
  .pre-commit-config.yaml
Due: prettier

chore: sync .github/workflows/enforce-repo-settings.yml
  .github/workflows/enforce-repo-settings.yml
Due: prettier

chore: sync .github/workflows/require-linked-issue.yml
  .github/workflows/require-linked-issue.yml
Due: prettier

chore: sync .github/workflows/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: sync managed files from governance template (#454)
  .github/workflows/auto-merge.yml
  .github/workflows/enforce-repo-settings.yml
  .github/workflows/require-linked-issue.yml
Due: prettier

feat: add concurrency settings to update-f5xc-auth.yml
  .github/workflows/update-f5xc-auth.yml
Due: prettier

feat: add concurrency settings to update-f5xc-auth.yml (#457)
  .github/workflows/update-f5xc-auth.yml
Due: prettier

feat(specs): update to v2.1.14
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.14 (#458)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.14 (#459)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.14 (#460)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.14 (#461)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat(specs): update to v2.1.14 (#462)
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
