Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for f5xc-api-mcp
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  # Secrets detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.3
    hooks:
      - id: trufflehog
        entry: trufflehog filesystem --fail --no-update
        args: ["--only-verified"]

  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: generate-tools
        name: Generate Tools from OpenAPI Specs
        entry: bash -c 'npm run generate && git add src/tools/generated/'
        language: system
        always_run: true
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: false

      - id: typecheck
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.ts$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: ^node_modules/

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yml"]
        exclude: ^node_modules/

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(specs): update to v2.0.5
  specs/domains/admin_console_and_ui.json
  specs/domains/ai_services.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/waf.json
  specs/index.json
  src/tools/generated/dependency-graph.json
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

refactor: consume upstream x-f5xc-* extensions (v2.0.8-v2.0.10)
  src/generator/domain-metadata.ts
  src/generator/naming/acronyms.ts
  src/generator/naming/index.ts
  src/prompts/error-resolution.ts
  src/prompts/index.ts
  src/prompts/workflows.ts
  src/tools/discovery/best-practices.ts
  src/tools/discovery/cost-estimator.ts
  tests/unit/prompts.test.ts
  tests/unit/server.test.ts
Due: eslint, prettier, typecheck

fix: remove ESM-incompatible CommonJS backward compatibility code
  src/prompts/error-resolution.ts
  src/prompts/index.ts
  src/prompts/workflows.ts
  src/server.ts
Due: eslint, prettier, typecheck

refactor: clean break - remove dead backward compatibility code and update docs
  CHANGELOG.md
  README.md
  src/generator/domain-metadata.ts
  src/generator/naming/acronyms.ts
Due: eslint, prettier, typecheck

feat: sync latest API specs v2.0.19 and enhance description synthesis
  docs/getting-started/opencode.md
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

docs: fix OpenCode MCP server configuration format
  README.md
  docs/configuration/mcp-json.md
  docs/getting-started/installation.md
  docs/getting-started/opencode.md
  docs/index.md
  docs/quickstart.md
Due: prettier

fix: add missing TypeScript return types in paths.ts
  src/config/paths.ts
Due: eslint, prettier, typecheck

fix: add missing TypeScript return types in paths.ts (#164)
  src/config/paths.ts
Due: eslint, prettier, typecheck

docs: add OpenCode to getting started navigation
  docs/getting-started/.pages
Due: none

docs: expand getting-started nav from .pages file
  mkdocs.yml
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

fix: remove pymdownx.emoji extension for CI compatibility
  mkdocs.yml
Due: prettier

ci: add npm install and generate-docs to documentation workflow
  .github/workflows/docs.yml
Due: prettier

fix: prefix .pages nav entries with directory path for mkdocs
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

feat(specs): update OpenAPI specs to v2.0.21
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat: add schema retrieval and example payload generation
  AGENTS.md
  src/server.ts
  src/tools/discovery/describe.ts
  src/tools/discovery/index.ts
  src/tools/discovery/schema-loader.ts
  src/tools/discovery/schema.ts
  src/tools/discovery/suggest-params.ts
Due: eslint, prettier, typecheck

Potential fix for code scanning alert no. 12: Replacement of a substring with itself
  src/tools/discovery/schema-loader.ts
Due: eslint, prettier, typecheck

fix: resolve CodeQL alerts #8 and #9
  src/auth/http-client.ts
  tests/uat/chat-queries/authentication.test.ts
Due: eslint, prettier, typecheck

refactor: use @robinmordasiewicz/f5xc-auth shared package
  package-lock.json
  package.json
  src/auth/credential-manager.ts
  src/auth/http-client.ts
  src/auth/index.ts
  src/config/paths.ts
  src/generator/tool-generator.ts
  src/profile/index.ts
  src/profile/manager.ts
  src/profile/types.ts
  src/resources/handlers.ts
  src/server.ts
  src/tools/configure-auth.ts
  src/tools/discovery/execute.ts
  tests/contract/mcp-protocol.test.ts
  tests/integration/http-client.test.ts
  tests/uat/documentation/example-resources.test.ts
  tests/unit/credential-manager.test.ts
  tests/unit/handlers.test.ts
  tests/unit/http-client.test.ts
  tests/unit/server.test.ts
  tests/unit/tool-generator.test.ts
Due: eslint, prettier, typecheck

refactor: use @robinmordasiewicz/f5xc-auth shared package (#175)
  package-lock.json
  package.json
  src/auth/credential-manager.ts
  src/auth/http-client.ts
  src/auth/index.ts
  src/config/paths.ts
  src/generator/tool-generator.ts
  src/profile/index.ts
  src/profile/manager.ts
  src/profile/types.ts
  src/resources/handlers.ts
  src/server.ts
  src/tools/configure-auth.ts
  src/tools/discovery/execute.ts
  tests/contract/mcp-protocol.test.ts
  tests/integration/http-client.test.ts
  tests/uat/documentation/example-resources.test.ts
  tests/unit/credential-manager.test.ts
  tests/unit/handlers.test.ts
  tests/unit/http-client.test.ts
  tests/unit/server.test.ts
  tests/unit/tool-generator.test.ts
Due: eslint, prettier, typecheck

test: add end-to-end validation for @robinmordasiewicz/f5xc-auth integration
  package.json
  scripts/validate-auth-integration.ts
  tests/acceptance/api-endpoints.test.ts
  tests/acceptance/auth-integration.test.ts
Due: eslint, prettier, typecheck

fix: prevent /api/api duplication with URL normalization
  docs/f5xc-auth-enhancement-spec.md
  scripts/validate-url-fix.ts
  src/resources/handlers.ts
  src/server.ts
  src/tools/configure-auth.ts
  src/utils/index.ts
  src/utils/url-utils.ts
  tests/acceptance/url-normalization.test.ts
  tests/unit/url-utils.test.ts
Due: eslint, prettier, typecheck

chore(deps): update @robinmordasiewicz/f5xc-auth to v1.0.1
  package-lock.json
Due: prettier

chore(deps): use latest @robinmordasiewicz/f5xc-auth
  package-lock.json
  package.json
Due: prettier

fix(deps): remove unused @inquirer/prompts to eliminate tmp vulnerability
  package-lock.json
  package.json
Due: prettier

fix: enable Material icons rendering in documentation
  mkdocs.yml
Due: prettier
