Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

fix: preserve sibling properties when resolving $ref in schema
  src/tools/discovery/schema-loader.ts
Due: eslint, prettier, typecheck

fix: patch tar vulnerability CVE-2026-23745 in Docker image
  Dockerfile
Due: none

fix: patch tar vulnerability CVE-2026-23745 in Docker image (#236)
  Dockerfile
Due: none

feat: add interactive CRUD UAT framework for healthcheck scenarios
  package.json
  tests/uat/interactive-crud/matrix/crud-condition-matrix.ts
  tests/uat/interactive-crud/prompts/common-prompt-patterns.ts
  tests/uat/interactive-crud/prompts/healthcheck-prompts.ts
  tests/uat/interactive-crud/scenarios/healthcheck-scenarios.test.ts
  tests/uat/interactive-crud/utils/condition-matrix.ts
  tests/uat/interactive-crud/utils/prompt-parser.ts
  tests/uat/interactive-crud/utils/response-evaluator.ts
Due: eslint, prettier, typecheck

chore: sync v2.0.39 API specs and regenerate tools
  specs/domains/admin_console_and_ui.json
  specs/domains/ai_services.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
Due: prettier

test: add UAT scenarios for conflicts-with extension
  tests/uat/interactive-crud/scenarios/conflicts-with-extension.test.ts
Due: eslint, prettier, typecheck

docs: document upstream enhancements integration
  claudedocs/authenticated-testing-approach.md
  claudedocs/enhancements-496-494-summary.md
  claudedocs/spec-comparison-2.0.39-to-2.0.41.md
  claudedocs/upstream-investigation-496-494.md
Due: prettier

test: add Phase 4 OpenCode CLI test results
  claudedocs/phase4-opencode-test-results.md
Due: prettier

fix: remove problematic npm upgrade from Dockerfile (#251, #252, #253)
  Dockerfile
Due: none

fix: remove problematic npm upgrade from Dockerfile (#251, #252, #253) (#261)
  Dockerfile
Due: none

fix: add .trivyignore for npm bundled dependency vulnerabilities
  .trivyignore
Due: none

fix: add .trivyignore for npm bundled dependency vulnerabilities (#263)
  .trivyignore
Due: none

docs: add comprehensive issue discovery analysis and tracking
  claudedocs/discovered-issues-tracking.md
  claudedocs/issue-discovery-results.md
Due: prettier

deps: add missing @eslint/js devDependency
  package-lock.json
  package.json
Due: prettier

docs: add comprehensive issue discovery analysis and tracking (#264)
  claudedocs/discovered-issues-tracking.md
  claudedocs/issue-discovery-results.md
Due: prettier

deps: add missing @eslint/js devDependency (#265)
  package-lock.json
  package.json
Due: prettier

deps: update major dependencies to latest versions
  package-lock.json
  package.json
Due: prettier

deps: update major dependencies to latest versions (#266)
  package-lock.json
  package.json
Due: prettier

test: add comprehensive coverage for discovery tools (#254, #260)
  tests/unit/server/handlers/tool-handlers/planning.test.ts
  tests/unit/tools/discovery/cost-estimator.test.ts
  tests/unit/tools/discovery/execute.test.ts
  tests/unit/tools/discovery/resolver.test.ts
  tests/unit/tools/discovery/schema-loader.test.ts
  tests/unit/tools/discovery/schema.test.ts
  tests/unit/tools/discovery/suggest-params.test.ts
  tests/unit/tools/discovery/validate.test.ts
Due: eslint, prettier, typecheck

test: skip authenticated mode tests temporarily (#267)
  tests/unit/tools/discovery/execute.test.ts
Due: eslint, prettier, typecheck

test: add comprehensive coverage for discovery tools (#254, #260) (#267)
  tests/unit/server/handlers/tool-handlers/planning.test.ts
  tests/unit/tools/discovery/cost-estimator.test.ts
  tests/unit/tools/discovery/execute.test.ts
  tests/unit/tools/discovery/resolver.test.ts
  tests/unit/tools/discovery/schema-loader.test.ts
  tests/unit/tools/discovery/schema.test.ts
  tests/unit/tools/discovery/suggest-params.test.ts
  tests/unit/tools/discovery/validate.test.ts
Due: eslint, prettier, typecheck

deps: remove unused dependencies and update minor/patch versions (#256, #257)
  package-lock.json
  package.json
Due: prettier

deps: remove unused dependencies and update minor/patch versions (#256, #257) (#268)
  package-lock.json
  package.json
Due: prettier

feat: implement quota awareness with pre-flight validation
  README.md
  claudedocs/quota-awareness-uat-guide.md
  claudedocs/quota-testing-findings.md
  claudedocs/quota-uat-results.md
  src/server/handlers/tool-handlers/index.ts
  src/server/handlers/tool-handlers/quota.ts
  src/services/quota-api-client.ts
  src/services/quota-formatter.ts
  src/services/quota-resource-mapping.ts
  src/services/quota-service.ts
  src/services/quota-thresholds.ts
  src/tools/discovery/execute.ts
  src/tools/discovery/validate.ts
  src/types/quota.ts
Due: eslint, prettier, typecheck

feat: implement quota awareness with pre-flight validation (#270)
  README.md
  claudedocs/quota-awareness-uat-guide.md
  claudedocs/quota-testing-findings.md
  claudedocs/quota-uat-results.md
  src/server/handlers/tool-handlers/index.ts
  src/server/handlers/tool-handlers/quota.ts
  src/services/quota-api-client.ts
  src/services/quota-formatter.ts
  src/services/quota-resource-mapping.ts
  src/services/quota-service.ts
  src/services/quota-thresholds.ts
  src/tools/discovery/execute.ts
  src/tools/discovery/validate.ts
  src/types/quota.ts
Due: eslint, prettier, typecheck

chore: update test fixtures timestamp
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

fix: remove WAF domain test expectations
  tests/uat/chat-queries/discovery.test.ts
  tests/uat/chat-queries/guidance.test.ts
  tests/uat/documentation/curl-examples.test.ts
  tests/unit/registry.test.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
