Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for f5xc-api-mcp
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  # Secrets detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.3
    hooks:
      - id: trufflehog
        entry: trufflehog filesystem --fail --no-update
        args: ["--only-verified"]

  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: generate-tools
        name: Generate Tools from OpenAPI Specs
        entry: bash -c 'npm run generate && git add src/tools/generated/'
        language: system
        always_run: true
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: false

      - id: typecheck
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.ts$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: ^node_modules/

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yml"]
        exclude: ^node_modules/

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(specs): update to v2.1.1
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

feat: onboard governance and starlight docs pipeline
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config/repo-settings.json
  .github/workflows/auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/enforce-repo-settings.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/require-linked-issue.yml
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  docs/adr/0001-dynamic-discovery-pattern.mdx
  docs/adr/0002-token-efficiency-strategy.mdx
  docs/adr/0003-dual-mode-operation.mdx
  docs/adr/0004-external-auth-package.mdx
  docs/adr/0005-generator-architecture.mdx
  docs/adr/README.mdx
  docs/adr/template.mdx
  docs/configuration/authentication.mdx
  docs/configuration/environment-variables.mdx
  docs/configuration/mcp-json.mdx
  docs/f5xc-auth-enhancement-spec.mdx
  docs/index.md
  docs/index.mdx
  docs/security.mdx
  docs/tags.md
  docs/tags.mdx
  docs/troubleshooting/faq.mdx
  mkdocs.yml
  requirements.txt
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

feat: onboard governance and starlight docs pipeline (#351)
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config/repo-settings.json
  .github/workflows/auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/enforce-repo-settings.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/require-linked-issue.yml
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  docs/adr/0001-dynamic-discovery-pattern.mdx
  docs/adr/0002-token-efficiency-strategy.mdx
  docs/adr/0003-dual-mode-operation.mdx
  docs/adr/0004-external-auth-package.mdx
  docs/adr/0005-generator-architecture.mdx
  docs/adr/README.mdx
  docs/adr/template.mdx
  docs/configuration/authentication.mdx
  docs/configuration/environment-variables.mdx
  docs/configuration/mcp-json.mdx
  docs/f5xc-auth-enhancement-spec.mdx
  docs/index.md
  docs/index.mdx
  docs/security.mdx
  docs/tags.md
  docs/tags.mdx
  docs/troubleshooting/faq.mdx
  mkdocs.yml
  requirements.txt
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

chore: sync .github/workflows/github-pages-deploy.yml
  .github/workflows/github-pages-deploy.yml
Due: prettier

chore: sync .github/workflows/enforce-repo-settings.yml
  .github/workflows/enforce-repo-settings.yml
Due: prettier

chore: sync .github/workflows/require-linked-issue.yml
  .github/workflows/require-linked-issue.yml
Due: prettier

chore: sync .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

chore: sync .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.md
Due: prettier

chore: sync .github/workflows/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: sync CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

chore: sync .gitignore
  .gitignore
Due: none

chore: sync managed files from governance template (#354)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-merge.yml
  .github/workflows/enforce-repo-settings.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/require-linked-issue.yml
  .gitignore
  CONTRIBUTING.md
Due: prettier

fix: escape JSX-incompatible characters in MDX docs
  docs/adr/0001-dynamic-discovery-pattern.mdx
  docs/configuration/authentication.mdx
Due: none

fix: escape JSX-incompatible characters in MDX docs (#358)
  docs/adr/0001-dynamic-discovery-pattern.mdx
  docs/configuration/authentication.mdx
Due: none

fix: escape JSX-incompatible characters in generated MDX docs
  docs/tools/dns/record-name.mdx
  docs/tools/marketplace/view-kind.mdx
  docs/tools/network-security/other/fast-acl.mdx
  docs/tools/object-storage/name.mdx
  docs/tools/object-storage/object-type.mdx
  docs/tools/observability/alerts-&-events/alert.mdx
  docs/tools/observability/alerts-&-events/all-ns-alert.mdx
  docs/tools/observability/other/history.mdx
  docs/tools/service-mesh/suspicious-user.mdx
  docs/tools/shape/other/name.mdx
  docs/tools/statistics/other/all-ns-alert.mdx
  docs/tools/support/tenant-management/support-ticket.mdx
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

fix: escape JSX chars in generated tool docs and sanitize filenames (#359)
  docs/tools/dns/record-name.mdx
  docs/tools/marketplace/view-kind.mdx
  docs/tools/network-security/other/fast-acl.mdx
  docs/tools/object-storage/name.mdx
  docs/tools/object-storage/object-type.mdx
  docs/tools/observability/alerts-&-events/alert.mdx
  docs/tools/observability/alerts-&-events/all-ns-alert.mdx
  docs/tools/observability/other/history.mdx
  docs/tools/service-mesh/suspicious-user.mdx
  docs/tools/shape/other/name.mdx
  docs/tools/statistics/other/all-ns-alert.mdx
  docs/tools/support/tenant-management/support-ticket.mdx
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

fix: use HTML entities for angle bracket escaping in generated docs
  docs/tools/observability/other/history.mdx
  docs/tools/service-mesh/suspicious-user.mdx
  docs/tools/support/tenant-management/support-ticket.mdx
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

fix: use HTML entities for angle bracket escaping in generated docs (#361)
  docs/tools/observability/other/history.mdx
  docs/tools/service-mesh/suspicious-user.mdx
  docs/tools/support/tenant-management/support-ticket.mdx
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

chore: sync .github/workflows/auto-merge.yml (#364)
  .github/workflows/auto-merge.yml
Due: prettier

chore: sync .editorconfig
  .editorconfig
Due: none

chore: sync managed files from governance template (#366)
  .editorconfig
  CONTRIBUTING.md
Due: prettier

chore: sync .gitignore (#368)
  .gitignore
Due: none
