Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for f5xc-api-mcp
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  # Secrets detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.3
    hooks:
      - id: trufflehog
        entry: trufflehog filesystem --fail --no-update
        args: ["--only-verified"]

  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: generate-tools
        name: Generate Tools from OpenAPI Specs
        entry: bash -c 'npm run generate && git add src/tools/generated/'
        language: system
        always_run: true
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: false

      - id: typecheck
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.ts$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        exclude: ^node_modules/

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yml"]
        exclude: ^node_modules/

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

Notes added by 'git notes add'
  2ad1feab391aaa0bef8eff8e1ebb1eb662106a76
Due: none

Notes added by 'git notes add'
  fdd376e83e6bb3306586499489062e2c7f457f73
Due: none

chore: bump version to 1.0.0
  package-lock.json
  package.json
Due: prettier

docs: update README with new domain architecture
  README.md
Due: prettier

style: fix prettier formatting in openapi-parser.ts
  src/generator/openapi-parser.ts
Due: eslint, prettier, typecheck

fix: make prettier pre-commit hook auto-fix formatting
  .pre-commit-config.yaml
Due: prettier

Notes added by 'git notes add'
  a54b9660749662b33e9a4823bebc40fe8efeb0a0
Due: none

fix: update manifest with correct tool count (1500+ tools across 22 domains)
  manifest.json
Due: prettier

Notes added by 'git notes add'
  99e15ac8b6c3c389f9300cd84367dbb60a891e26
Due: none

Notes added by 'git notes add'
  f46fb0f0335faf446fdf3a685be83c33caffc6d8
Due: none

fix: add debugging for mcpb packing issue to diagnose missing config domain
  .github/workflows/release.yml
Due: prettier

Notes added by 'git notes add'
  2909cb9bc4c0de0ada51e1a0800e9865e0c2bebe
Due: none

fix: correct .mcpbignore pattern to include config domain in mcpb bundle
  .mcpbignore
Due: none

Notes added by 'git notes add'
  a181f4527c599e072dbb5d9d77ae5e361e530e3a
Due: none

refactor: rebrand to scoped npm package @robinmordasiewicz/f5xc-api-mcp
  README.md
  package.json
Due: prettier

feat!: document breaking change for scoped package name migration
  CHANGELOG.md
Due: prettier

fix: allow Release workflow to trigger on CHANGELOG updates
  .github/workflows/release.yml
Due: prettier

Notes added by 'git notes add'
  b983278563f297644ca02e4b6b82090a0924faab
Due: none

feat: add profile-based credential configuration with CLI setup wizard
  src/auth/credential-manager.ts
  src/cli/index.ts
  src/cli/setup.ts
  src/config/config-manager.ts
  src/config/index.ts
  src/config/schema.ts
  src/config/types.ts
  src/index.ts
  tests/unit/config-manager.test.ts
Due: eslint, prettier, typecheck

docs: update all documentation with scoped package name and environment variables
  README.md
  docs/configuration/authentication.md
  docs/configuration/environment-variables.md
  docs/configuration/mcp-json.md
  docs/getting-started/claude-code.md
  docs/getting-started/claude-desktop.md
  docs/getting-started/cursor.md
  docs/getting-started/installation.md
  docs/getting-started/vscode.md
  docs/index.md
  docs/quickstart.md
  docs/security.md
  docs/troubleshooting/faq.md
Due: prettier

fix: resolve eslint and typescript errors in profile configuration code
  README.md
  docs/configuration/authentication.md
  docs/security.md
  eslint.config.js
  src/cli/setup.ts
  src/config/config-manager.ts
  src/config/schema.ts
  src/config/types.ts
Due: eslint, prettier, typecheck

fix: resolve ESLint and TypeScript errors blocking CI checks (#48)
  README.md
  docs/configuration/authentication.md
  docs/configuration/environment-variables.md
  docs/configuration/mcp-json.md
  docs/getting-started/claude-code.md
  docs/getting-started/claude-desktop.md
  docs/getting-started/cursor.md
  docs/getting-started/installation.md
  docs/getting-started/vscode.md
  docs/index.md
  docs/quickstart.md
  docs/security.md
  docs/troubleshooting/faq.md
  eslint.config.js
  src/auth/credential-manager.ts
  src/cli/index.ts
  src/cli/setup.ts
  src/config/config-manager.ts
  src/config/index.ts
  src/config/schema.ts
  src/config/types.ts
  src/index.ts
  tests/unit/config-manager.test.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  d4772c140740828ff39b7a7ad7c9226dc82fb038
Due: none

fix: pin npm version in Docker for reproducible builds
  Dockerfile
Due: none

fix: update Trivy action version to 0.34.0 for newer vulnerability definitions
  .github/workflows/security.yml
Due: prettier

fix: add concurrency configuration to all GitHub Actions workflows
  .github/workflows/openapi-sync.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

fix: ensure Trivy action uses latest available version (0.33.1)
  .github/workflows/security.yml
Due: prettier

fix: pin npm version in Docker for reproducible builds (#49)
  Dockerfile
Due: none

Notes added by 'git notes add'
  88e89725ca0699cf0d289e864b942404471062bd
Due: none

fix: correct Trivy action version from 0.34.0 to 0.33.1
  .github/workflows/security.yml
Due: prettier

fix: add concurrency configuration to all GitHub Actions workflows (#51)
  .github/workflows/openapi-sync.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

Notes added by 'git notes add'
  e2405c3965266e26edcdd528889023c21c73b3cb
Due: none

chore: upgrade Node.js from 20 to 24 and resolve Dependabot vulnerabilities
  .github/workflows/ci.yml
  .github/workflows/openapi-sync.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  package-lock.json
  package.json
Due: prettier

test: add comprehensive test coverage for profile-based credentials
  package-lock.json
  package.json
  src/cli/index.ts
  src/cli/setup.ts
  tests/integration/edge-cases.test.ts
  tests/integration/migration.test.ts
  tests/integration/profile-auth.test.ts
  tests/unit/cli-commands.test.ts
  tests/unit/cli-setup.test.ts
  tests/unit/server.test.ts
Due: eslint, prettier, typecheck

fix: skip authenticated checks tests and improve config write robustness
  src/config/config-manager.ts
  tests/integration/profile-auth.test.ts
Due: eslint, prettier, typecheck

test: add comprehensive test coverage for profile-based credentials (#55)
  package-lock.json
  package.json
  src/cli/index.ts
  src/cli/setup.ts
  src/config/config-manager.ts
  tests/integration/edge-cases.test.ts
  tests/integration/migration.test.ts
  tests/integration/profile-auth.test.ts
  tests/unit/cli-commands.test.ts
  tests/unit/cli-setup.test.ts
  tests/unit/server.test.ts
Due: eslint, prettier, typecheck

fix: remove sensitive token data from clear-text logging
  src/cli/setup.ts
Due: eslint, prettier, typecheck
