Repository robinmordasiewicz/f5xc-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  0450c974bc11fa8761bb7bda791a19a0ebfdd572
Due: none

docs: add comprehensive documentation for domain-based organization refactoring
  MIGRATION.md
  README.md
  scripts/category-mapping.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  5f8d549b0ede1434b05d6800943ff0112bb49d13
Due: none

fix: correct documentation links in tools/index.md for new domain structure
  docs/tools/index.md
Due: prettier

test: skip authenticated tests in CI environment
  .serena/memories/project_overview.md
  MIGRATION.md
  README.md
  docs/tools/networking/other/api-endpoint.md
  docs/tools/tenant-management/tenant-management/assign.md
  src/server.ts
  tests/contract/mcp-protocol.test.ts
  tests/setup.ts
  tests/unit/credential-manager.test.ts
  tests/unit/http-client.test.ts
  tests/unit/server.test.ts
  tests/utils/ci-environment.ts
  vitest.config.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  9c4cf4b3804965c784741d7b4080a5cf47705ff2
Due: none

chore: update OpenAPI specifications to 1.0.16
  specs/domains/ai_intelligence.json
  specs/domains/api_security.json
  specs/domains/applications.json
  specs/domains/bigip.json
  specs/domains/billing.json
  specs/domains/cdn.json
  specs/domains/config.json
  specs/domains/identity.json
  specs/domains/infrastructure.json
  specs/domains/infrastructure_protection.json
  specs/domains/integrations.json
  specs/domains/load_balancer.json
  specs/domains/networking.json
  specs/domains/nginx.json
  specs/domains/observability.json
  specs/domains/operations.json
  specs/domains/other.json
  specs/domains/security.json
  specs/domains/service_mesh.json
  specs/domains/shape_security.json
  specs/domains/subscriptions.json
  specs/domains/tenant_management.json
  specs/domains/vpn.json
  specs/index.json
  src/tools/generated/config/index.ts
Due: eslint, prettier, typecheck

feat: update OpenAPI specifications to v1.0.16
  specs/domains/ai_intelligence.json
  specs/domains/api_security.json
  specs/domains/applications.json
  specs/domains/bigip.json
  specs/domains/billing.json
  specs/domains/cdn.json
  specs/domains/config.json
  specs/domains/identity.json
  specs/domains/infrastructure.json
  specs/domains/infrastructure_protection.json
  specs/domains/integrations.json
  specs/domains/load_balancer.json
  specs/domains/networking.json
  specs/domains/nginx.json
  specs/domains/observability.json
  specs/domains/operations.json
  specs/domains/other.json
  specs/domains/security.json
  specs/domains/service_mesh.json
  specs/domains/shape_security.json
  specs/domains/subscriptions.json
  specs/domains/tenant_management.json
  specs/domains/vpn.json
  specs/index.json
  src/tools/generated/config/index.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  983748a21d1948b8e13d3d01a857244fdd44f898
Due: none

fix: update f5xcctl command generation to use correct resource domains
  src/resources/handlers.ts
  tests/unit/handlers.test.ts
  tests/unit/tool-generator.test.ts
Due: eslint, prettier, typecheck

fix: remove pymdownx.emoji extension causing mkdocs build failure
  mkdocs.yml
Due: prettier

fix: correct getting-started nav reference in mkdocs.yml
  mkdocs.yml
Due: prettier

Notes added by 'git notes add'
  15ed3442079ff39cd5e03546fe28afc656286d5e
Due: none

fix: restore and properly configure pymdownx.emoji extension
  mkdocs.yml
Due: prettier

Notes added by 'git notes add'
  499e427a08663002d7fc1f6097d07f56a6f028ba
Due: none

chore: add MkDocs directories to .gitignore
  .gitignore
Due: none

fix: correct pymdownx.emoji and superfences configuration, update nav links
  docs/tools/index.md
  mkdocs.yml
  scripts/generate-docs.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  3a044e17493e0448d7283d15dfbf051f5c92c52b
Due: none

chore: sync OpenAPI specs v1.0.65
  specs/domains/admin_console_and_ui.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/generative_ai.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
  specs/index.json
  tests/fixtures/generated.ts
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  7e44501fd3989912ecb9d326280bb6156d28b7fc
Due: none

chore: sync OpenAPI specs to v1.0.67 and regenerate
  specs/domains/admin_console_and_ui.json
  specs/domains/api.json
  specs/domains/authentication.json
  specs/domains/bigip.json
  specs/domains/billing_and_usage.json
  specs/domains/blindfold.json
  specs/domains/bot_and_threat_defense.json
  specs/domains/cdn.json
  specs/domains/ce_management.json
  specs/domains/certificates.json
  specs/domains/cloud_infrastructure.json
  specs/domains/container_services.json
  specs/domains/data_and_privacy_security.json
  specs/domains/data_intelligence.json
  specs/domains/ddos.json
  specs/domains/dns.json
  specs/domains/generative_ai.json
  specs/domains/managed_kubernetes.json
  specs/domains/marketplace.json
  specs/domains/network.json
  specs/domains/network_security.json
  specs/domains/nginx_one.json
  specs/domains/object_storage.json
  specs/domains/observability.json
  specs/domains/rate_limiting.json
  specs/domains/secops_and_incident_response.json
  specs/domains/service_mesh.json
  specs/domains/shape.json
  specs/domains/sites.json
  specs/domains/statistics.json
  specs/domains/support.json
  specs/domains/telemetry_and_insights.json
  specs/domains/tenant_and_identity.json
  specs/domains/threat_campaign.json
  specs/domains/users.json
  specs/domains/virtual.json
  specs/domains/vpm_and_node_management.json
  specs/domains/waf.json
  specs/index.json
  src/tools/generated/dependency-graph.json
Due: prettier

fix: use deterministic timestamp for dependency-graph.json
  scripts/generate.ts
  src/generator/dependency-graph.ts
  src/generator/dependency-types.ts
  src/tools/generated/dependency-graph.json
Due: eslint, prettier, typecheck

Notes added by 'git notes add'
  65507fa3d4862a659d5f489e88f8fd89844bdf12
Due: none

Notes added by 'git notes add'
  00fbe71e721a8cbcb2457a4c84132af3f075216c
Due: none

Notes added by 'git notes add'
  e5967628dff38ce9985464d35612debd0b31b107
Due: none

feat: register dependency discovery tools in MCP server
  package.json
  src/server.ts
Due: eslint, prettier, typecheck

feat: register dependency discovery tools in MCP server (#76)
  package.json
  src/server.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
  typecheck: any of: \.ts$
